body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-family: 'Georgia', serif;
  }
  
  .runes-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    letter-spacing: 2px;
    padding: 0 1rem;
  }

  .runes-text{
    color: red;
  }